<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form>
      <ion-list>
        <ion-item>
          <ion-input type="text" maxlength="30" placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" maxlength="40" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number/text" maxlength="10" placeholder="Data de Nascimento"></ion-input>
        </ion-item>
        <ion-item>          
            <ion-select>
              <option>São Paulo</option>
              <option>Rio de Janeiro</option>
              <option>Classe média</option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="text" maxlength="40" placeholder="Endereço"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" maxlength="11" placeholder="CPF"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" maxlength="9" placeholder="RG"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button href="">Confirmar Cadastro</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
