<div>
  <form>
    <ion-list>
      <ion-item>
        <ion-input type="text" maxlength="30" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" maxlength="40" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number/text" maxlength="10" placeholder="Data de Nascimento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" maxlength="40" placeholder="Endereço"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" maxlength="11" placeholder="CPF"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" maxlength="9" placeholder="RG"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button outline>Confirmar Cadastro</button>
      </ion-item>
    </ion-list>
  </form>
</div>